body {
    background-color: #4d4d4d;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    display: flex; 
    position: relative;
    align-items: center;
    width: 974px;
    height: 718px;
    background-color:  #fff;
    font-family: sans-serif;
    color: #4d4d4d;
}

button:hover {background-color: #d29ef0;}

.text {
    width: 589px;
    height: 718px;
}

.title h1 {font-family: "poynter-oldstyle-display"}

.title {
    width: 478px;
    height: 112px;
    margin: auto;
    font-family: "poynter-oldstyle-display",serif;
}

.instruct-1 {
    width: 532px;
    height: 100px;
    margin: auto;
}

.instruct-2 {
    width: 532px;
    height: 34px;
    margin: auto;
}

#button-1 {
    width: 110px;
    height: 110px;
    margin: auto;
    background-color: #659ecb;
    z-index: 50;
}

.instruct-3 {
    width: 532px;
    height: 57px;
    margin: auto;
}

#button-2 {
    width: 110px;
    height: 110px;
    margin: auto;
    background-color: #659ecb;
    z-index: 40;
}




.start {
    width: 175px;
    height: 100px;
    margin: auto;
    background-color: #659ecb;
    position:absolute;
    top: 445px;
    left: 232px;
    border-radius: 20px;
    text-align: center;
    font-family: sans-serif;
    color: #fff;
    font-size: 24px;
}

.next {
    width: 175px;
    height: 100px;
    margin: auto;
    background-color: #659ecb;
    position:absolute;
    top: 645px;
    left: 232px;
    border-radius: 20px;
    text-align: center;
    font-family: sans-serif;
    color: #fff;
    font-size: 24px;
}

.replay {
    width: 175px;
    height: 100px;
    margin: auto;
    background-color: #659ecb;
    position:absolute;
    top: 445px;
    left: 232px;
    border-radius: 20px;
    text-align: center;
    font-family: sans-serif;
    color: #fff;
    font-size: 24px;
}





.molly-home {
    width: 385px;
    height: 718px;
    background-image: url(test/image-1.jpg);
    background-repeat: no-repeat;
}






.molly {
    width: 385px;
    height: 718px;
    background-image: url(test/image-1.jpg);
    background-repeat: no-repeat;
}

.test {
    position: absolute;
    z-index: 10;
    top: 25px;
    left: 614px;
}






.guide {
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    display: flex; 
    position: relative;
    align-items: center;
    width: 974px;
    height: 718px;
    background-image: url(test/guide-test.jpg);
    background-repeat: no-repeat;
    font-family: sans-serif;
    color: #4d4d4d;
}

.download {
    width: 110px;
    height: 110px;
    margin: auto;
    text-align: center;
    background-color: #659ecb;
    position:absolute;
    top: 600px;
    left: 264px;
}   


.print {
    width: 110px;
    height: 110px;
    margin: auto;
    text-align: center;
    background-color: #659ecb;
    position:absolute;
    top: 600px;
    left: 330px;
}








h1 {
    text-align: center;
    font-family: serif;
    color: #0c1e50;
}

h2 {
    text-align: center;
    font-family: sans-serif;
    color: #fff;
}

h3 {
    text-align: center;
    font-family: sans-serif;
    color: #4d4d4d;
}